{% extends 'events/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    
    <form method='POST' class="event_form" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="border p-3 mt-2">
        <fieldset>
            <legend class="mb-3 ">Create New Event</legend>
            {{form.media}}
            {{form | crispy}}
            <button class='btn btn-outline-info mt-2' type='submit'>Upload</button>
        </fieldset>
        </div>
        
    </form> 
    
{% endblock content %}