{% extends "events\base.html" %} {% block content %}
{% load crispy_forms_tags %}

<div class="main-container">
  <div class="content right-sidebar">
    <h3>Search event in your city</h3>
    <form method="get" class="filter-form">
      {{filter_form.form | crispy}}
      <button class="filter-btn" type="submit">Search</button>
    </form>
  </div>

  <div class="content center">
    {% if not page_obj %}
    <h3>Sorry ! No events found...</h3>
    {% endif %}

    {% for event in page_obj %}
    <div class="card"> 
      <a href="{% url 'event-detail' event.id %}">
        <div class="card-image">
          {% if event.event_banner_img %}
          <img class="img" src="{{event.event_banner_img.url}}" alt="" />
          {% endif %}
        </div>
        <div class="card-text">
          <h2 class="title-tag">{{event.title}}</h2>
        </a>
          <span class="publisher-tag">
            <small> By : </small>{{event.publisher}}
          </span>
          <h4 class="date-tag">Event Date : {{event.event_date}}</h4>
          {% if event.pricing == 0 %}
            <span class="price-tag" style="background-color: green; color: white;">Free</span>
          {% else %}
            <span class="price-tag">Rs. {{event.pricing}}/- </span>
          {% endif %}
          {% if event.city %}
            <i class="bi bi-geo-alt-fill" style="width: 100%"> {{event.city}}</i>
          {% endif %}
        </div>
      
      <div class="save-share">
        <button class="save-btn">Save</button>
        <button class="share-btn">Share</button>
      </div>
    </div>
    {% endfor %}
  
    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
  
          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>
  
  </div>
  <div class="content left-sidebar">Left Sidebar</div>
</div>

{% endblock content %}
