{% extends 'events/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    
    <form method='POST'>
        {% csrf_token %}
        <div class="border w-50 p-3 mx-auto mt-2">
        <fieldset>
            <legend class="mb-3 ">LogIn</legend>
            {{form | crispy}}
            <button class='btn btn-outline-info mt-2' type='submit'>Login</button>

            <div class="mt-3 border-top 3">
                <small>
                    New here? <a href="{% url 'user-register'%}" class="ml-2">Register</a>
                </small>
            </div>
        </fieldset>
        </div>

        
    </form> 
    
{% endblock content %}